apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token
type: Opaque
stringData:
  api-token: {{ cloudflare_token }}
---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: cloudflare-dns01-issuer
spec:
  acme:
    email: {{ acme_email }}
    server: {{ 'https://acme-v02.api.letsencrypt.org/directory' if letsencrypt_environment == 'production' else 'https://acme-staging-v02.api.letsencrypt.org/directory' }}
    privateKeySecretRef:
      name: cloudflare-dns01-issuer-key
    solvers:
    - dns01:
        cloudflare:
           apiTokenSecretRef:
             name: cloudflare-api-token
             key: api-token